@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
    font-family: "Roboto Regular";
}
@font-face {
    src: url('../fonts/Roboto-Italic.ttf');
    font-family: "Roboto Italic";
}
@font-face {
    src: url('../fonts/Roboto-Bold.ttf');
    font-family: "Roboto Bold";
}
.content{
    max-width: 500px;
    margin: auto;
   
}
body {
    font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
    background-color: azure;   
    display: block;
    
} 
.header{
    color: aqua;
    text-align: center;
    display: flex;
    justify-content: space-between;

}
.title{
    text-align: center;
}
.subtitle{
    border-left: 10px solid red;
    padding-left: 5px;
    color: blueviolet;
    margin-top: 20px;
}
a:link{
    color: blue;
    text-decoration: none;
}
.main-img{
    background-color: bisque;
}
img{
    width: 200px;
    height: 350px;
    margin:  5% 25%;
}
.frame{
    border: 2px solid sienna;
}
.link{
    color: blueviolet;
    transition: color .3s;
}
.footer{
    margin: 10%;
    text-align: center;
}

